*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(66, 245, 11);
    position: fixed;
    box-shadow: 1px 1px 10px  ;
    z-index: 3;
}
.logo_if{
    width: 90px;

}

.navbar h1{
    font-family: Franklin Gothic Medium;
    font-size: 30px;
    color: black;
    -webkit-text-stroke: 0.01vh aliceblue;
}
.navbar div{
    width: 35%;
    height: 4vh;
    display: flex;
    flex-direction: row;
}
.navbar div input{
    border-radius: 15px;
    box-shadow: 1px 1px 4px;
    width: 90%;
    text-align: center;
}
.ico_search{
    width: 25px;
    margin: 0 1vh auto;
}
.list_plants {
    background-image:url("/img/icons/logoif.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 500px;  
    padding: 150px;
    margin-bottom: 60px;
}
body{
    background:linear-gradient(rgba(104, 214, 137, 0.993),rgba(216, 3, 3, 0.651)); 
}
.content_list{
    margin-bottom: 30px;
    background-color: white;
    opacity:0.6;
    padding:1%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px;    
}
.content_list button{
    font-size: 20px;
    font-weight:bold;
    font-style: italic;
    
}
button.accordion{
    cursor:pointer;
    border:none;
    outline:none;
    width:100%;
    text-align:left;
    background-color:transparent;
    padding:8px;
    margin:4px 0;
    border-radius:4px;
    transition:0.3s;
}
button.accordion:hover{
    background-color:rgba(140, 182, 25, 0.253);
}

div.panel{
    opacity:0;
    max-height:0;
    transition:0.3s;
}
.content_list.opacity{
    opacity: 1;
}
  
div.panel.show{
    opacity:1;
    max-height:500px;
    padding:8px;
    margin:2px 0 4px;
}
.close{
    z-index:6;
    position: fixed;
    margin: 90vh 0 0 91vw ;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    border:none;
    box-shadow: 2px 2px 10px;

}
.close:hover{
    color: rgb(57, 161, 31);
}

.list_plants img{
    width: 450px;
}